img {
  width: 200px;
  height: 200px;
}

.userImg {
  width: 200px;
  height: 200px;
  border: black 4px solid;
  border-radius: 100px;
}

.username {
  font-size: 40px;
  position: relative;
  bottom: 20px;
}

#profileAddBtn {
    border-radius: 50px;
    font-size: 20px;
    width: 200px;
    height: 60px;
    border-width: 5px;
    border-color: #000;
    text-align: center;
    font-family: Amaranth;
    position: relative;
    bottom: 20px;
}
#image {
    width: 500px;
    height: 350px;
    border: 5px solid #000;
    border-radius: 15px;
    bottom: 20px;
}
.profilePostLocation {
    font-size: 20px;
}
.unfavBtn {
    border-radius: 50px;
    font-size: 20px;
    width: 150px;
    height: 60px;
    border-width: 5px;
    border-color: #000;
    text-align: center;
    font-family: Amaranth;
}
.editBtn {
    border-radius: 50px;
    font-size: 20px;
    width: 150px;
    height: 60px;
    border-width: 5px;
    border-color: #000;
    text-align: center;
    font-family: Amaranth;
    position: relative;
}
.removeBtn {
    border-radius: 50px;
    font-size: 20px;
    width: 150px;
    height: 60px;
    border-width: 5px;
    border-color: #000;
    text-align: center;
    font-family: Amaranth;
    position: relative;
}
.profilePostsAndFavorites {
    display: flex;

    justify-content: space-evenly;
    position: relative;
    bottom: 20px;
}

#removeAndEdit {
  display: flex;
  flex-direction: row;
}
.profileTitle {
    font-size: 40px;
    border-bottom: 10px #a289ed;
    border-bottom-style: double;
    border-radius: 15px;
    font-family: Amaranth;
    padding-bottom: 5px;
}
.profilePostTitle {
    font-size: 30px;
}
.profile {
  position: relative;
  top: 160px;
  font-family:'Amaranth';
}
div.modal-content {
  width: auto;
  height: 400px;
  border: black 2px solid;
  position: relative;
  left: 50%;
  bottom: 200px;
color: white;
background-color: black;
}
