.about {
  font-family:'Amaranth';
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 200px;
}

.aboutCollage {
  border: black 4px solid;
  border-radius: 15px;
  margin-left: 2%;
  margin-right: 2%;
  width: 48%;
  height: 48%;
}

.aboutText {
  margin-right: 2%;
}

.aboutP {
  font-size: 20px;
}

.title {
  font-size: 50px;
}

a {
  text-decoration: none;
}

.developer {
  font-size: 25px;
  border-radius: 50px;
  width: 50%;
  border-width: 5px;
  border-color: black;
  text-align: center;
  font-family:'Amaranth';
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
  top: 20px;
}

.developer:hover {
  background-color: #a289ed;
}
