.App {
  text-align: center;
}

ul {
  list-style-type: none;
}
/*//////////////// HEADER ////////////////*/

/*//////////////// ABOUT ////////////////*/
.aboutCollage {
background-image: url("./static/images/skyline.png");
}
