.new {

    position: relative;
    top: 160px;
    font-family: Amaranth;
}

.userImg {
    width: 200px;
    height: 200px;
    border: 4px solid #000;
    border-radius: 100px;
}
.newPageTitle {
    font-size: 40px;
    border-bottom: 10px #a289ed;
    border-bottom-style: double;
    border-radius: 15px;
    padding-bottom: 5px;
    width: 200px;
    position: relative;
    left: 43%;
}
#addPost {
      position: relative;
    RIGHT: 28%;
    bottom: 44px;
}
#imageInput {
    position: relative;
    width: 30%;
    padding: 10px;
    border: black solid 5px;
    left: 30%;
    bottom: 40px;
    border-radius: 50px;
    background-color: white;
}

#aboutButton{
  position: relative;
    right: 36%;
    bottom: 105px;
}

.upload {
  font-size: 25px;
    position: relative;
    bottom: 50px;
    left: 4%;
}

.one {
  position: relative;
    bottom: 85px;
}

.two {
      position: relative;
    bottom: 50px;
    right: 34px;

}
.three {
    position: relative;
    bottom: 15px;
    left: 53px;

}

li {
  font-size: 20px;
}

.line {
  border-bottom: black solid 5px;
}

.line2 {
  border-bottom: black solid 5px;
}

button:focus {outline:0;}
input:focus {outline:0;}
.locationAddress {
  position: relative;
    top: 140px;
    right: 40%;
    position: relative;
    width: 30%;
    padding: 10px;
    border: black solid 5px;
    border-radius: 50px;
}
.titleName {
      position: relative;
    right: 8%;
    width: 30%;
    padding: 10px;
    border: black solid 5px;
    border-radius: 50px;
    top: 40px;
}

.num {
  border: black solid 2px;
  border-radius: 50px;
  padding: 10px 20px;
}
.checkOut {
  font-size: 30px;
    position: relative;
    bottom: 89px;
}
.username {
    font-size: 40px;
    position: relative;
    bottom: 20px;
}
form {
    display: block;
    margin-top: 0em;
}
input {
    border: 2px solid #000;
    border-radius: 15px;
    font-size: 20px;
    padding-left: 10px;
}
.instructions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 20px;
position: relative;
    left: 20%;
    bottom: 35px;
}
ul {
    list-style-type: none;
}
.newBtns {
    border-radius: 50px;
    font-size: 20px;
    width: 100px;
    height: 60px;
    border-width: 5px;
    border-color: #000;
    text-align: center;
    font-family: Amaranth;
}
a {
    text-decoration: none;
}
.container {
  justify-content: center;
}
